<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DoceDonuts</title>
  <link rel="stylesheet" href="css/style.css" />

</head>

<body>
  <header>
    <a href="/">
      <div class="logo">
        <img class="icon-logo" src="img/rosquinha.png" />
        <h1>DONUTS</h1>
      </div>
    </a>
    <div class="menu">
      <a href="" class="ul scroll-to-cardapio">Cardápio</a>
      <a href="" class="ul" id="scroll-to-create-donut">Criar Donut</a>
      <a href="">
        <img class="icon-phone" onclick="scrollToFooter()" src="img/phone-call.png" />
      </a>
      <a href="/favoritos">
        <img class="icon-coracao" src="img/coracao.png" />
      </a>
      <a href="" onclick="scrollToCart()">
        <img class="icon-carrinho" src="img/carrinho.png" />
      </a>
    </div>
  </header>
  <div class="main">
    <div class="landing-page">
      <div class="lado-1">
        <h2>
          D<span style="color: rgb(82, 210, 241)">O</span><span style="color: rgb(255, 255, 255)">N</span><span
            style="color: white">U</span><span style="color: white">T</span><span style="color: white">S</span>
        </h2>
        <p style="color: #fff">
          Descubra um universo de sabores em nossos donuts, uma experiência
          irresistível em cada mordida!
        </p>
        <a class="btn scroll-to-cardapio">Cardápio</a>
        <div class="cards-icon">
          <div class="favicon">
            <img class="icon-item" src="img/calendario.png" />
            <p style="color: #fff; font-size: 15px">Pedidos no prazo</p>
          </div>
          <div class="favicon">
            <img class="icon-item" src="img/entrega.png" />
            <p style="color: #fff; font-size: 15px">Entregamos</p>
          </div>
          <div class="favicon">
            <img class="icon-item" src="img/chef.png" />
            <p style="color: #fff; font-size: 15px">Feito com amor</p>
          </div>
        </div>
      </div>
      <div class="lado-2">
        <div class="shadow"></div>
        <img class="donut" src="img/donut.png" />
      </div>
      <div class="lado-3">
        <div class="parent">
          <div class="child child-1">
            <button class="button btn-1">
              <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M8 2H1L9.26086 13.0145L1.44995 21.9999H4.09998L10.4883 14.651L16 22H23L14.3917 10.5223L21.8001 2H19.1501L13.1643 8.88578L8 2ZM17 20L5 4H7L19 20H17Z">
                </path>
              </svg>
            </button>
          </div>
          <div class="child child-2">
            <button class="button btn-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#ff00ff">
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                </path>
              </svg></button>
          </div>
          <div class="child child-3">
            <button class="button ">
              <svg width="30" height="30" class="whatsapp" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                class="whatsapp">
                <path
                  d="M19.001 4.908A9.817 9.817 0 0 0 11.992 2C6.534 2 2.085 6.448 2.08 11.908c0 1.748.458 3.45 1.321 4.956L2 22l5.255-1.377a9.916 9.916 0 0 0 4.737 1.206h.005c5.46 0 9.908-4.448 9.913-9.913A9.872 9.872 0 0 0 19 4.908h.001ZM11.992 20.15A8.216 8.216 0 0 1 7.797 19l-.3-.18-3.117.818.833-3.041-.196-.314a8.2 8.2 0 0 1-1.258-4.381c0-4.533 3.696-8.23 8.239-8.23a8.2 8.2 0 0 1 5.825 2.413 8.196 8.196 0 0 1 2.41 5.825c-.006 4.55-3.702 8.24-8.24 8.24Zm4.52-6.167c-.247-.124-1.463-.723-1.692-.808-.228-.08-.394-.123-.556.124-.166.246-.641.808-.784.969-.143.166-.29.185-.537.062-.247-.125-1.045-.385-1.99-1.23-.738-.657-1.232-1.47-1.38-1.716-.142-.247-.013-.38.11-.504.11-.11.247-.29.37-.432.126-.143.167-.248.248-.413.082-.167.043-.31-.018-.433-.063-.124-.557-1.345-.765-1.838-.2-.486-.404-.419-.557-.425-.142-.009-.309-.009-.475-.009a.911.911 0 0 0-.661.31c-.228.247-.864.845-.864 2.067 0 1.22.888 2.395 1.013 2.56.122.167 1.742 2.666 4.229 3.74.587.257 1.05.408 1.41.523.595.19 1.13.162 1.558.1.475-.072 1.464-.6 1.673-1.178.205-.58.205-1.075.142-1.18-.061-.104-.227-.165-.475-.29Z">
                </path>
              </svg></button>
          </div>
          <div class="child child-4">
            <button class="button btn-4">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" fill="#4267B2">
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg></button>
          </div>
        </div>


      </div>
    </div>
    <div class="info-empresa">
      <div>
        <img class="img-container" src="img/donut_morango_info.jpg" alt="img-container" />
      </div>
      <div class="description">
        <h2 class="menu-title">Sobre Nossos Donuts</h2>
        <p> Delicie-se com nossos donuts feitos com ingredientes de primeira qualidade e uma técnica artesanal.</p>

        <h2 class="menu-title" style="font-size: 20px;">Ingredientes Frescos</h2>
        <p> Utilizamos farinha premium, açúcar natural e ovos frescos para garantir um sabor autêntico e uma textura
          perfeita.</p>

        <h2 class="menu-title" style="font-size: 20px;">Preparação Cuidadosa</h2>
        <p>
            Cada donut é moldado e frito com precisão para obter a crocância ideal por fora e a maciez por dentro.
        </p>
        <h2 class="menu-title" style="font-size: 20px;" >Coberturas e Recheios
        </h2>
        <p >  Oferecemos uma variedade de coberturas e recheios, desde chocolate gourmet até geleias artesanais, sempre
          feitos com ingredientes selecionados.
        </p>
        <h2 class="menu-title" style="font-size: 20px;">
          Qualidade Garantida
        </h2>
        
        <p> Estamos comprometidos em entregar donuts que encantam a cada mordida, combinando tradição e inovação em cada
          receita.</p>
      </div>

    </div>
    <div class="cardapio">
      <div class="cart-sidebar">
        <div class="menu-title-cart">
          <h1 class="title">Meu carrinho</h1>
        </div>
        <div class="empty-cart-message" style="display: block;">
          <p>Seu carrinho está vazio.</p>
        </div>
        <div class="items-list">


        </div>
        <div>
          <div class="cart-footer">
            <h4>Total:</h4>
            <h4>R$ 0,00</h4>
          </div>
          <div class="button-footer">
            <button class="button-cart">
              Finalizar Compra
            </button>
          </div>
        </div>
      </div>

      <div class="cardapio-principal">
        <div class="bag-div">
          <button class="bag" onclick="toggleCartSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="handbag" fill="currentColor" class="bi bi-handbag"
              viewBox="0 0 16 16">
              <path
                d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2m3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6z" />
            </svg>
          </button>
        </div>
        <div class="donut-menu">
          <h2 class="menu-title">CARDÁPIO</h2>
          <ul class="menu-options">
            <li class="active" data-category="all">Todos</li>
            <li data-category="donut-menu">Donuts</li>
            <li data-category="combo">Combos</li>

          </ul>
        </div>

        <div class="donut-cards">

          <div class="donut-card donut-menu" data-id="1">
            <div class="img-menu" style="display:flex; justify-content: center;">
              <img src="img/donut_chocolate.jpg" alt="Donut 1" />
            </div>
            <div class="favorite">
              <input style="display: none;" type="checkbox" id="favorite-1" name="favorite-checkbox" value="1" />
              <label for="favorite-1" class="container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
              </label>
            </div>
            <h3>Donut de Chocolate</h3>
            <p class="p-description">Donut gourmet de brigadeiro com cobertura de chocolate</p>
            <h3 class="price">R$: 5,00</h3>
            <div class="div">
              <button class="btn-add-to-cart" data-name="Donut de Chocolate" data-id="1"
                data-description="Donut gourmet de brigadeiro com cobertura de chocolate" data-price="5.00"
                data-img="img/donut_chocolate.jpg">
                <img class="icon-phone" src="img/compras.png" />
              </button>
              <p class="added-message">Item adicionado ao carrinho</p>
            </div>
          </div>

          <div class="donut-card donut-menu" data-id="2">
            <div class="img-menu" style="display:flex; justify-content: center;">
              <img src="img/donut_morango.jpg" alt="Donut 2" />
            </div>
            <div class="favorite">
              <input style="display: none;" type="checkbox" id="favorite-2" name="favorite-checkbox" value="2" />
              <label for="favorite-2" class="container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
              </label>
            </div>
            <h3>Donut de Morango</h3>
            <p class="p-description">Donut gourmet de morango com cobertura de geleia de morango.</p>
            <h3 class="price">R$: 5,00</h3>
            <div class="div">
              <button class="btn-add-to-cart" data-name="Donut de Morango" data-id="2"
                data-description="Donut gourmet de morango com cobertura de geleia de morango." data-price="5.00"
                data-img="img/donut_morango.jpg">
                <img class="icon-phone" src="img/compras.png" />
              </button>
              <p class="added-message">Item adicionado ao carrinho</p>
            </div>
          </div>

          <div class="donut-card donut-menu" data-id="3">
            <div class="img-menu" style="display:flex; justify-content: center;">
              <img src="img/donut_churros.jpg" alt="Donut 3" />
            </div>
            <div class="favorite">
              <input style="display: none;" type="checkbox" id="favorite-3" name="favorite-checkbox" value="3" />
              <label for="favorite-3" class="container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
              </label>
            </div>
            <h3>Donut de Churros</h3>
            <p class="p-description">Donut com recheio de doce de leite e cobertura com caramelo e canela</p>
            <h3 class="price">R$: 5,00</h3>
            <div class="div">
              <button class="btn-add-to-cart" data-name="Donut de Churros" data-id="3"
                data-description="Donut com recheio de doce de leite e cobertura com caramelo e canela"
                data-price="5.00" data-img="img/donut_churros.jpg">
                <img class="icon-phone" src="img/compras.png" />
              </button>
              <p class="added-message">Item adicionado ao carrinho</p>
            </div>
          </div>

          <div class="donut-card donut-menu" data-id="4">
            <div class="img-menu" style="display:flex; justify-content: center;">
              <img src="img/donut_amendoim.jpg" alt="Donut 4" />
            </div>
            <div class="favorite">
              <input style="display: none;" type="checkbox" id="favorite-4" name="favorite-checkbox" value="4" />
              <label for="favorite-4" class="container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
              </label>
            </div>
            <h3>Donut de Chocolate e Amendoim</h3>
            <p class="p-description">Donut com recheio de brigadeiro e cobertura de chocolate com amendoim granulado</p>
            <h3 class="price">R$: 5,00</h3>
            <div class="div">
              <button class="btn-add-to-cart" data-name="Donut de Chocolate com amendoim" data-id="4"
                data-description="Donut com recheio de brigadeiro e cobertura de chocolate com amendoim granulado"
                data-price="5.00" data-img="img/donut_amendoim.jpg">
                <img class="icon-phone" src="img/compras.png" />
              </button>
              <p class="added-message">Item adicionado ao carrinho</p>
            </div>
          </div>

          <div class="donut-card combo" data-id="5">
            <div class="img-menu" style="display:flex; justify-content: center;">
              <img src="img/combo_50.jpeg" alt="Donut 2" />
            </div>
            <div class="favorite">
              <input style="display: none;" type="checkbox" id="favorite-5" name="favorite-checkbox" value="5" />
              <label for="favorite-5" class="container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
              </label>
            </div>
            <h3>Combo Mini Donuts com 50</h3>
            <p class="p-description">Combo com 50 mini donuts com decoração da sua preferência</p>
            <h3 class="price">R$: 40,00</h3>
            <div class="div">
              <button class="btn-add-to-cart" data-name="Combo Mini Donuts com 50" data-id="5"
                data-description="Combo com 50 mini donuts com cobertura da sua preferência" data-price="40.00"
                data-img="img/combo_50.jpeg">
                <img class="icon-phone" src="img/compras.png" />
              </button>
              <p class="added-message">Item adicionado ao carrinho</p>
            </div>
          </div>

          <div class="donut-card combo" data-id="6">
            <div class="img-menu" style="display:flex; justify-content: center;">
              <img src="img/combo_100.jpeg" alt="Donut 2" />
            </div>
            <div class="favorite">
              <input style="display: none;" type="checkbox" id="favorite-6" name="favorite-checkbox" value="6" />
              <label for="favorite-6" class="container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
              </label>
            </div>
            <h3>Combo Mini Donuts com 100</h3>
            <p class="p-description">Combo com 100 mini donuts com decoração da sua preferência</p>
            <h3 class="price">R$: 75,00</h3>
            <div class="div">
              <button class="btn-add-to-cart" data-name="Combo Mini Donuts com 100" data-id="6"
                data-description="Combo com 100 mini donuts com decoração da sua preferência" data-price="75.00"
                data-img="img/combo_100.jpeg">
                <img class="icon-phone" src="img/compras.png" />
              </button>
              <p class="added-message">Item adicionado ao carrinho</p>
            </div>
          </div>
        </div>

        <div class="form">
          <div class="form-donut">
            <form id="donutForm">
              <h3>Crie Seu Donut Perfeito</h3>

              <h3>Cobertura</h3>
              <div id="cobertura" class="sabores">
                <input type="checkbox" name="cobertura" value="Baunilha" data-price="2.00"> Baunilha</input>
                <input type="checkbox" name="cobertura" value="Chocolate" data-price="2.50"> Chocolate</input>
                <input type="checkbox" name="cobertura" value="Morango" data-price="2.00"> Morango</input>
                <input type="checkbox" name="cobertura" value="Caramelo" data-price="3.00"> Caramelo</input>
              </div>

              <h3>Recheio</h3>
              <div id="recheio">
                <input type="checkbox" name="recheio" value="Brigadeiro" data-price="3.00"> Brigadeiro</input>
                <input type="checkbox" name="recheio" value="Beijinho" data-price="3.50"> Beijinho</input>
                <input type="checkbox" name="recheio" value="Doce de leite" data-price="3.00"> Doce de leite</input>
                <input type="checkbox" name="recheio" value="Nutella" data-price="4.00"> Nutella</input>
              </div>

              <h3>Quantidade</h3>
              <div >
                <button type="button" class="btn-quantity-create btn-decrement-create">-</button>
                <input type="text" class="quantity-create" value="1" readonly />
                <button type="button" class="btn-quantity-create btn-increment-create">+</button>
              </div>

              <h3>Total: <span id="totalPrice">00,00</span></h3>
              <button class="btn-form" id="addToCart">Adicionar no carrinho</button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

  <footer>

    <div class="icons-footer">
      <p>Rua dos Donuts, 1234 - Cidade dos Doces</p>
      <p>Telefone: (11) 1234-5678</p>
    </div>
    <div class="icons-footer">
      <p>Nossas Redes:</p>

      <div class="social-buttons">
        <a href="#" class="social-button instagram">
          <svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1">
              <g id="Dribbble-Light-Preview" transform="translate(-340.000000, -7439.000000)">
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M289.869652,7279.12273 C288.241769,7279.19618 286.830805,7279.5942 285.691486,7280.72871 C284.548187,7281.86918 284.155147,7283.28558 284.081514,7284.89653 C284.035742,7285.90201 283.768077,7293.49818 284.544207,7295.49028 C285.067597,7296.83422 286.098457,7297.86749 287.454694,7298.39256 C288.087538,7298.63872 288.809936,7298.80547 289.869652,7298.85411 C298.730467,7299.25511 302.015089,7299.03674 303.400182,7295.49028 C303.645956,7294.859 303.815113,7294.1374 303.86188,7293.08031 C304.26686,7284.19677 303.796207,7282.27117 302.251908,7280.72871 C301.027016,7279.50685 299.5862,7278.67508 289.869652,7279.12273 M289.951245,7297.06748 C288.981083,7297.0238 288.454707,7296.86201 288.103459,7296.72603 C287.219865,7296.3826 286.556174,7295.72155 286.214876,7294.84312 C285.623823,7293.32944 285.819846,7286.14023 285.872583,7284.97693 C285.924325,7283.83745 286.155174,7282.79624 286.959165,7281.99226 C287.954203,7280.99968 289.239792,7280.51332 297.993144,7280.90837 C299.135448,7280.95998 300.179243,7281.19026 300.985224,7281.99226 C301.980262,7282.98483 302.473801,7284.28014 302.071806,7292.99991 C302.028024,7293.96767 301.865833,7294.49274 301.729513,7294.84312 C300.829003,7297.15085 298.757333,7297.47145 289.951245,7297.06748 M298.089663,7283.68956 C298.089663,7284.34665 298.623998,7284.88065 299.283709,7284.88065 C299.943419,7284.88065 300.47875,7284.34665 300.47875,7283.68956 C300.47875,7283.03248 299.943419,7282.49847 299.283709,7282.49847 C298.623998,7282.49847 298.089663,7283.03248 298.089663,7283.68956 M288.862673,7288.98792 C288.862673,7291.80286 291.150266,7294.08479 293.972194,7294.08479 C296.794123,7294.08479 299.081716,7291.80286 299.081716,7288.98792 C299.081716,7286.17298 296.794123,7283.89205 293.972194,7283.89205 C291.150266,7283.89205 288.862673,7286.17298 288.862673,7288.98792 M290.655732,7288.98792 C290.655732,7287.16159 292.140329,7285.67967 293.972194,7285.67967 C295.80406,7285.67967 297.288657,7287.16159 297.288657,7288.98792 C297.288657,7290.81525 295.80406,7292.29716 293.972194,7292.29716 C292.140329,7292.29716 290.655732,7290.81525 290.655732,7288.98792"
                    id="instagram-[#167]">

                  </path>
                </g>
              </g>
            </g>
          </svg>
        </a>
        <a href="#" class="social-button whatsapp-footer">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.001 4.908A9.817 9.817 0 0 0 11.992 2C6.534 2 2.085 6.448 2.08 11.908c0 1.748.458 3.45 1.321 4.956L2 22l5.255-1.377a9.916 9.916 0 0 0 4.737 1.206h.005c5.46 0 9.908-4.448 9.913-9.913A9.872 9.872 0 0 0 19 4.908h.001ZM11.992 20.15A8.216 8.216 0 0 1 7.797 19l-.3-.18-3.117.818.833-3.041-.196-.314a8.2 8.2 0 0 1-1.258-4.381c0-4.533 3.696-8.23 8.239-8.23a8.2 8.2 0 0 1 5.825 2.413 8.196 8.196 0 0 1 2.41 5.825c-.006 4.55-3.702 8.24-8.24 8.24Zm4.52-6.167c-.247-.124-1.463-.723-1.692-.808-.228-.08-.394-.123-.556.124-.166.246-.641.808-.784.969-.143.166-.29.185-.537.062-.247-.125-1.045-.385-1.99-1.23-.738-.657-1.232-1.47-1.38-1.716-.142-.247-.013-.38.11-.504.11-.11.247-.29.37-.432.126-.143.167-.248.248-.413.082-.167.043-.31-.018-.433-.063-.124-.557-1.345-.765-1.838-.2-.486-.404-.419-.557-.425-.142-.009-.309-.009-.475-.009a.911.911 0 0 0-.661.31c-.228.247-.864.845-.864 2.067 0 1.22.888 2.395 1.013 2.56.122.167 1.742 2.666 4.229 3.74.587.257 1.05.408 1.41.523.595.19 1.13.162 1.558.1.475-.072 1.464-.6 1.673-1.178.205-.58.205-1.075.142-1.18-.061-.104-.227-.165-.475-.29Z">
            </path>
          </svg>
        </a>

        <a href="#" class="social-button facebook">
          <svg viewBox="0 0 384 512" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5 16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0 129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z">
            </path>
          </svg>
        </a>

        <a href="#" class="social-button x">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M8 2H1L9.26086 13.0145L1.44995 21.9999H4.09998L10.4883 14.651L16 22H23L14.3917 10.5223L21.8001 2H19.1501L13.1643 8.88578L8 2ZM17 20L5 4H7L19 20H17Z">
            </path>
          </svg>
        </a>




      </div>
    </div>
    </div>
    <div class="icons-footer">
      <p>Autor:</p>
      <p>Mayara Duarte</p>
    </div>
  </footer>

  <script src="/js/main.js"></script>
  <script src="/js/cart-fixed.js"></script>
  <script src="/js/form-donut.js"></script>
  <script src="/js/total-price.js"></script>


</body>

</html>