body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(90.15deg, #ffcccc 18.00%, #f5a8a8 82.00%);
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;

}

.logo {
  font-size: 2%;
  font-weight: bold;
  background-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

.landing-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 95vh;
  max-height: 100vh;
  max-width: 100vw;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: linear-gradient(90.15deg, #ffcccc 18.00%, #f5a8a8 82.00%);

}

.lado-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5%;
  margin-bottom: 0;
  width: 45vw;
  height: 100vh;
  max-width: 600px;
  text-align: left;
}

.lado-1 h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 6vw;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 8px;
  color: rgb(82, 210, 241);
}

.lado-1 p {
  color: #fff;
  font-size: calc(1em + 0.5vw);
  margin: 10px 0;
}

.lado-1 .btn {
  background-color: rgb(82, 210, 241);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.lado-1 .cards-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 30%;
  width: 100%;
}

.lado-1 .icon-item {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.lado-1 .icon-item:hover {
  transform: translateY(-10px);
}

.lado-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 100vh;
}

.lado-2 .donut {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.lado-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.lado-3 img {
  width: 25%;
  padding-bottom: 10px;
}

.favicon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 28px;
  font-weight: bold;
  color: #c23350;
  text-align: center;
}

nav li {
  margin-right: 2%;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #000;
}

input .favorite {
  display: none;
}

input:checked+label svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
}

@keyframes heartButton {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

input+label .action {
  position: relative;
  overflow: hidden;
  display: grid;
}

input+label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
}

input+label .action span.option-1 {
  transform: translate(0px, 0%);
  opacity: 1;
}

input:checked+label .action span.option-1 {
  transform: translate(0px, -100%);
  opacity: 0;
}

input+label .action span.option-2 {
  transform: translate(0px, 100%);
  opacity: 0;
}

input:checked+label .action span.option-2 {
  transform: translate(0px, 0%);
  opacity: 1;
}



.donut-menu {
  text-align: center;
  margin: 0;
  padding: 15px;
}

.favorite {
  display: flex;
  justify-content: flex-end;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donut-quantity {
  display: flex;
  align-items: center;
  width: 140%;
}

.btn-quantity {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #d4d4d4;
  font-size: 16px;
  cursor: pointer;
}

.quantity {
  height: 25px;
  text-align: center;
  border: 0px solid;
  border-radius: 5px;
  display: flex;
  width: 20px;
  
}

.quantity-controls {
  height: 25px;
  width: 30%;
  text-align: center;
  border: 0px solid;
  border-radius: 5px;
  display: flex;
  
}

.btn-add-to-cart {
  padding: 5px;
  margin-left: 8px;
  background-color: #e15c7c ;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-add-to-cart:hover{
  background-color: #f38aa5;
}

.cards-icon {
  display: flex;
  gap: 5vh;
  margin-top: 80px;
}

.donut {
  width: 500px;
  transform: translatey (0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

.donut-cards {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.donut-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.donut-card {
  background-color: #fff9fa;
  flex: 1 1 180px;
  max-width: 180px;
  margin: 2%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7%;
  text-align: center;
  display: block; 
  flex-direction: column;
}

.donut-card.hidden {
  display: none;
}

.menu-options li.active {
  font-weight: bold;
}



.donut-card-content {
  flex-grow: 1;
}

.donut-card h3,
.donut-card p {
  margin: 10px 0;
}


.img-menu img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5%;
}

.menu-options li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.menu-options li.active {
  border-bottom: 2px solid #000; 
}


.donut-card h3 {
  margin-top: 10px;
  font-size: 20px;
}

.p-description {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffcccc;
}

header {
  background-color: #ffcccc;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 221, 238);
}


.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 6px;
  font-weight: bold;
  color: #fff;
}

.menu {
  display: flex;
  margin-right: 20px;
  gap: 25px;
  padding-right: 100px;
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.form-donut {
  background-color: #fff;
  margin: 0;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 15px;
  width: 60%;
  max-width: 500px; 
  height: auto; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form {
  background-color: #fbf1f3;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.sabores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
}

.sabores input {
  margin-right: 10px;
}

.btn-form {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: #e15c7c;
  border: none; 
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #d04d6f;
}

.btn-quantity-create {
  width: 40px;
  height: 40px;
  background-color: #e15c7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-quantity-create:hover {
  background-color: #d04d6f;
}

.quantity-create {
  width: 60px;
  text-align: center;
  border: none;
  background-color: #f5f5f5;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .form-donut {
    width: 90%; 
    padding: 15px;
  }

  .btn-form {
    width: 100%;
  }
}


.btn-form:hover{
  background-color: #f38aa5;

}

.icon-logo {
  width: 40px;
  padding-left: 50px;
}

.icon-carrinho {
  width: 30px;
}


.icon-coracao {
  width: 20px;
  padding: 5px;
}

.ul {
  padding: 5px;
  color: #fff;
}

.icon-phone {
  width: 20px;
  padding: 5px;
}

h3 {
  color: #555;
}

.page-favorite {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}

.favorite-item {
  display: flex;
  align-items: center;
  margin: 10px;
  max-width: 50%;
  border-radius: 10px;
  padding: 10px;
}

.favorite-image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.favorite-image {
  width: 10%;
  height: 10%;
  object-fit: cover;
  margin: 10px;
}

.favorite-name {
  flex: 1;
  font-size: 16px;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

svg {
  height: 24px;
  width: 24px;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}

.whatsapp {
  fill: #00ff00;
}
footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  background-color: #f5a8a8;
  padding: 1% 4%; 
  color: #fff;
  text-align: center;
}

footer > div {
  flex: 1;
  margin: 10px; 
  min-width: 200px; 
}

.icons-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.instagram:hover svg {
  fill: #c13584;
}

.facebook {
  background-color: #1877f2;
}

.facebook svg {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.facebook:hover svg {
  fill: #1877f2;
}

.x {
  background-color: #000;
}

.x svg {
  fill: #fff;
  width: 22px;
  height: 22px;

}

.x:hover svg {
  fill: #000;
}

.whatsapp-footer{
  background-color: #00ff00;
}

.whatsapp-footer svg{
  fill:#ffff;
  width: 27px;
  height: 27px;
}

.whatsapp-footer:hover svg{
  fill:#00ff00;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column; 
    text-align: center;
  }

  .icons-footer {
    margin-bottom: 15px; 
  }

  .social-buttons {
    justify-content: center;
  }
}


.cardapio{
  background-color: #fbf1f3;
  display: flex;
  flex-direction: row-reverse;
}

.cardapio-principal{
  width: 100vw;
}

.cart-sidebar{
  display: none;
  width: 20vw;
  max-width: 350px; 
  min-width: 250px;
  position: sticky;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.menu-title-cart{
  display:flex;
  justify-content: flex-start;

}

.title {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c23350 ;
}

.empty-cart-message {
  text-align: center;
  color: #555;
  margin-top: 20px;
}

.cart-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.img-item{
  width: 60px;
  height: auto;
 
}

.info-title{
  font-size: 13px;
}

.info-description {
  margin-top: 10px;
  font-size: 13px;
  color: #555;
}

.info-title-preco{
  font-size: 13px;
  color: #c23350;
}

.cart-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-footer{
  display: flex;
  justify-content: center;
}

.button-cart {
  width: 180px;
  height: 40px;
  background-color: #c23350;
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .cart-sidebar {
    width: 80%;
    max-width: 400px;
    min-width: auto; 
    height: auto; 
    position: fixed; 
    bottom: 0;
    right: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px 10px 0 0; 
  }

.donut-quantity{
  min-width: 120%;
}

  .title {
    font-size: 18px;
  }

  .items-list {
    min-width: auto;
  }

  .cart-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }

  .info-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .quantity-controls {
    margin-top: 10px;
  }

  .button-cart {
    width: 100%; 
  }
}

.cartIcon {
  width: 14px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

.button-cart:active {
  transform: translate(2px ,0px);
  box-shadow: 1px 3px 0px #c23350;
  padding-bottom: 1px;
}

.donut-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-item{
  width: 100px;
}

.quantity input{
  width: 10px;
}

.btn-quantity-create{
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #f7acbf ;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn-quantity-create:hover{
  background-color: #f38aa5;

}

.quantity-create {
    width: 40px;
    height: 25px;
    text-align: center;
    border: 0px solid #ff99cc;
    border-radius: 5px;
}

.bag{
  display: flex;
  justify-content: end;
  background-color: #f7acbf ;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items:center ;
  justify-content: center;
  color: #ffff;
  cursor: pointer;
}

.bag:hover{
  background-color: #f38aa5;
}

.bag-div{
  display: flex;
  justify-content: end;
  padding: 20px;
  position: sticky;

}

.handbag{
  height: 20px;
}

.added-message{
  display: none;
  font-size: 13px;
  color:#cc7f91
}

.price{
  color: #c23350;
}

a {
  text-decoration: none;
  color: inherit;
}

.favoritos-section {
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.favoritos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
}

.favoritos-table th, .favoritos-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.favoritos-table th {
  background-color: #f38aa5 ;
  color: #333;
}

.favoritos-table td img.favorito-img {
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.favorite label {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  color: black;
}

.remover-favorito {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c23350 ;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  
}

.remover-favorito:hover {
  background-color: #ff3333;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: rgb(255, 252, 252);
}

.info-empresa{
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  justify-content: space-around;
  padding: 30px;;
}

.img-container{
  width: 40vw;
  height: auto;
  border-radius: 50%;
}

.shadow{
  position: absolute;
  bottom: 10px;
  width: 35%;
  height: 20px;
  background: rgba(0, 0, 0, 0.425);
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0px 0px 15px 0px;
  animation: shadow-fade 5s ease-in-out infinite;
  box-shadow: 0px 0px 15px 0px;
}

@keyframes shadow-fade {
  0% {
    opacity: 1; 
  }

  50% {
    opacity: 0.3; 
  }

  100% {
    opacity: 1;
  }
}

.principal {
  width: 100vw; 
  background-color: #f8f8f8;
  padding: 20px; 
  box-sizing: border-box; 
  min-height: 69.2vh;
}

.perfil{
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
}

.dados-perfil{
  width: 50vw;
  height: 70vh;
  background-color: #ffff;
  border-radius: 10px;
  padding: 30px;
}

.form-dados {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  min-height: 100%; 
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.column {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
}

.column.small {
  flex: 1 1 20%;
}

.dados-perfil label {
  color: #757272;
  margin-bottom: 5px;
}

.form-dados input[type="text"], 
.form-dados input[type="date"] {
  padding: 12px 15px;
  margin: 10px 0; 
  border: none;
  border-radius: 5px;
  color: #333;
  width: 90%;
  background-color: #f3f3f3;
}

.form-dados input[type="text"]::placeholder, 
.form-dados input[type="date"]::placeholder {
  color: #888;
}

.form-dados input[type="text"]:focus, 
.form-dados input[type="date"]:focus {
  background-color: #d5d5d5;
  outline: none;
}

.button-row {
  margin-top: auto;
  display: flex;
  justify-content: center; 
}

.form-dados button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 50%;
}

.form-dados button:hover {
  background-color: #45a049;
}

.form-dados button:active {
  background-color: #3e8e41;
}

.form-dados button:focus {
  outline: none;
  box-shadow: 0 0 5px #4CAF50;
}

.foto {
  position: relative;
  padding: 20px;
  width: 15vw;
  height: auto;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-container {
  position: relative;
  display: inline-block; 
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.edit-icon {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.edit-icon svg {
  fill: rgb(136, 135, 135); 
  width: 24px; 
  height: 24px;
}

input[type="file"] {
  display: none;
}

h2 {
  margin-top: 15px;
  font-size: 150%;
  width: 100%;
  color: #757272;
}

.btn-logout{
  padding: 12px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  position: absolute;
  bottom: 20px;
}

.info-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
  justify-content: center; 
  width: 80%;
}

.card-pedidos {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; 
  box-sizing: border-box; 
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card-info h3 {
  font-size: 1.2em; 
  color: #333; 
  margin-bottom: 10px; 
}

.card-info p {
  font-size: 1em; 
  color: #666; 
  margin: 5px 0; 
}

.card-info p:last-child {
  font-weight: bold; 
  color: #007bff; 
}

@media (max-width: 768px) {
  .card-pedidos {
    max-width: 100%; 
  }
}

@media (max-width: 480px) {
  .card-pedidos {
    max-width: 100%; 
  }
}
